* {
    margin: 0;
    padding: 0;
    -border: 1px solid blue;
}

:root {
    font-family: sans-serif;
    --void: #0e0b16;
    --fuschia: #a239ca;
    --jewel: #4717f6;
    --stark: #e7dfdd;
}

main {
    background-color: var(--void);
    color: var(--stark);
}

a {
    text-decoration: none;
    color: var(--stark);
    transition: ease-in-out 0.3s;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: var(--void);
}

nav {
    display: flex;
    background-color: var(--jewel);
    color: var(--stark);
    justify-content: space-around;
    padding: 0.5rem;
}

p {
    padding: 0 2rem 2rem 2rem;
    text-align: justify;
}

h2 {
    padding: 2rem 2rem 2rem 2rem;
}

h1 {
    padding: 4rem 2rem 2rem 2rem;
    text-align: center;
}

div {
    display: grid;
    grid-template:  repeat(1,1fr) / repeat(3,1fr);
    justify-content: space-around;
    padding: 2rem;
}

img {
    width: 95%;
    height: auto;
   
}
